
.file-input {
  display: none;
}

.file-label {
  display: inline-block;
  background-color: darkgoldenrod;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  border: none;
  font-size: 14px;
}

.file-label:hover {
  background-color: #553300;
}

.file-name {
  margin-left: 10px;

  color: darkgoldenrod;
}

.fleeex {
	display: flex;
	justify-content: center;
	gap: 5vw;
}

.Goku {
	font-size: 36px;
    color: darkgoldenrod;
}

.main_container {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 2vh;
    color: darkgoldenrod;
}
